.wrapper

  = render "header"

  .new-main
    .table
      = form_with model: @aroma, local: true do |f|
        .table__picture
          写真
        .table__name
          = f.text_field :name, placeholder: "精油名(16文字まで)", class: "input", required: "required"
        .table__family-name
          = f.text_field :family_name, placeholder: "科名(16文字まで)", class: "input", required: "required"
        .table__fragrance-note
          = f.text_field :fragrance_note, placeholder: "ノート(16文字まで)", class: "input", required: "required"
        .table__fragrance-type
          = f.text_field :fragrance_type, placeholder: "香りのタイプ(16文字まで)", class: "input", required: "required"
        .table__text
          = f.text_area :explain_text, placeholder: "テキスト(100文字まで)", class: "input-text", require: "required"
        .new-btn
          = f.submit "変更"

  = render "footer"