.wrapper

  = render "header"

  .index-main
    .items
      - @aromas.each do |aroma|
        .item
          .item__img
            = image_tag aroma.image.url
          .item__name 
            = aroma.name
          .item__btns
            = link_to "編集", root_path, class: "edit-btn"
            .delete-btn
              削除

  = render "footer"